<!-- IF S_IS_BANNED -->
<div class="panel bg2">
	<div class="inner">
		<h3 style="text-align: center; border-bottom: none;">{L_OCB_BANNED}</h3>
	</div>
</div>

<!-- ELSEIF S_SHOW_OCB -->
<div class="panel bg2">
	<div class="inner" style="padding: 5px 0; text-align: center; font-size: 1.1em;">
		<a href="{U_OCBAN}">{L_OCB_THIS_USER}</a>
	</div>
</div>

<!-- ELSEIF S_SUCCESS -->
<div class="panel bg2" style="background-color: green;">
	<div class="inner" style="padding: 5px 0; text-align: center; font-size: 1.1em; color: white;">
		{L_OCB_THIS_USER}
	</div>
</div>

<!-- ELSEIF S_ERROR -->
<div class="panel bg2" style="background-color: red;">
	<div class="inner" style="padding: 5px 0; text-align: center; font-size: 1.1em;">
		{L_OCB_THIS_USER}
	</div>
</div>
<!-- ENDIF -->
